<div class="h-[80vh] w-full flex flex-col">
  <div class="bg-baconBlue grow max-h-16"></div>
  <div class="bg-baconYellow grow p-12">
    <div class="flex h-full flex-col md:flex-row justify-start md:justify-around">
      <div class="w-full md:w-1/2 flex items-center justify-center text-baconBlue">
        <p class="max-w-3xl text-lg font-bold text-justify" appScrollTrigger (visible)="visible = true">
          NOSOTROS <br> <br>

          Somos una agencia 360° que ofrece una experiencia completa, desde la atención al cliente hasta la entrega
          final del proyecto.
          <br> <br>

          Nuestro equipo creativo y capacitado está comprometido con el crecimiento de tu marca, conectándola con el
          cliente adecuado y obteniendo resultados óptimos.
        </p>
      </div>
      <div *ngIf="visible" [@enter3]="visible"
           class="h-1/2">
        <div>
          <img src="/assets/images/cactus_image_2.png" alt="aboutUsImage">
        </div>
      </div>
    </div>
  </div>
  <div class="bg-baconBlue grow max-h-16"></div>
</div>
