<div class="h-[80vh] bg-baconBlue w-full overflow-hidden flex">
  <div class="h-full w-1/2 p-20">
    <img src="/assets/images/placeholder.png" class="w-full h-full object-contain" alt="">
  </div>
  <div class="h-full w-1/2 p-20 text-white font-bold content-center justify-center flex flex-col gap-5">
    <p class="text-7xl">CONTACTO</p>
    <p>
      Av. Prol. Teófilo Borunda 11811-Local #13, 31207
      Chihuahua, Chih.</p>
    <p>614 561 3753</p>
    <p>614 477 1393</p>
    <p>ventas&#64;bacondesign.com.mx</p>
  </div>
</div>
