<div class="h-[80vh] bg-baconDarkBlue w-full overflow-hidden flex flex-col-reverse md:flex-row relative">
  <div class="absolute w-[25%] top-0 start-0">
    <img src="assets/images/yellow_stripes_3.png" class="w-full" alt="">
  </div>
  <div class="w-[90vw] absolute -end-[20vw] -bottom-[20vw]">
    <img src="assets/images/blue_circle.png" class="w-full h-full object-contain" alt="">
  </div>
  <div class="start-0 -left-[5vw] -bottom-[5vw] absolute w-[20vw] z-10">
    <img src="assets/images/yellow_circle.png" class="w-full h-full object-contain" alt="">
  </div>
  <div [@enter]="visible" class="h-1/3 md:h-full w-full md:w-1/2 p-4 md:p-20 z-20">
    <img src="assets/images/contact_photo.png" class="w-full h-full object-contain" alt="">
  </div>
  <div appScrollTrigger (visible)="visible = true"
       class="md:h-full w-full h2/3 md:w-1/2 p-4 md:p-20 text-white font-bold content-center justify-center flex flex-col gap-5 z-10 relative md:text-2xl">
    <p class="text-2xl md:text-7xl">{{ 'contact.title' | transloco }}</p>
    <div class="flex gap-3">
      <img src="assets/images/location-pin.png" alt="" class="w-6 h-6 self-center filter-white">
      <p> {{ 'contact.address' | transloco }}</p>
    </div>
    <div class="flex gap-3">
      <img src="assets/images/call_icon.png" alt="" class="w-6 h-6 self-center filter-white">
      <p class="translation">{{ 'contact.phone' | transloco }}</p>

    </div>
    <div class="flex gap-3">
      <img src="assets/images/email_icon.png" alt="" class="w-6 h-6 self-center filter-white">
      <p>{{ 'contact.email' | transloco }}</p>
    </div>
    <div class="w-[15%] absolute end-0 bottom-0">
      <img src="assets/images/dots_pattern.png" class="w-full" alt="">

    </div>
  </div>
</div>
