<div class="h-screen bg-white w-full flex flex-col">
  <div class="grow flex justify-end h-2/3">
    <div class="w-full flex flex-col justify-end md:flex-row">
      <div class="w-3/4 flex flex-col p-3 md:p-20 text-baconBlue gap-4">
        <p class="text-5xl font-bold">SERVICIOS</p>
        <p>¿Por qué nosotros?</p>
        <p>Queremos TRANSMITIR lo que tu proyecto requiere, ya sea hacer las ideas tangibles o intangibles, todo esto
          para que logres alcanzar la meta, pero sobre todo que tu proyecto sea de CALIDAD.</p>
      </div>
      <div class="w-1/4">
        <img src="/assets/images/christmas-tree.png" class="h-full w-full object-contain" alt="">
      </div>
    </div>

  </div>
  <div class="w-full h-1/3 p-5 overflow-auto">
    <div class="w-[400%] md:w-[200%] bg-baconYellow rounded-t-2xl lg:w-full h-full flex">
      <div
        class="w-full text-center p-3 text-baconBlue h-full bg-baconYellow rounded-t-2xl justify-center flex items-center md:rounded-tr-none md:w-1/2 lg:w-1/4">
        <div>
          <p class="font-bold">EVENTOS CORPORATIVOS</p>
          <p>Diseñamos y producimos experiencias memorables que refuerzan la identidad de tu marca, desde conferencias y
            lanzamientos hasta celebraciones empresariales.</p>
        </div>
      </div>
      <div
        class="w-full text-center p-3 text-white h-full bg-baconBlue rounded-t-2xl justify-center flex items-center md:rounded-tr-none md:w-1/2 lg:w-1/4">
        <div>
          <p class="font-bold">MARKETING
            BTL</p>
          <p> Creamos estrategias innovadoras y personalizadas para conectar con tu audiencia de manera directa, a
            través
            de activaciones, promociones y experiencias interactivas.</p>
        </div>
      </div>
      <div
        class="w-full text-center p-3 text-baconBlue h-full bg-baconYellow rounded-t-2xl justify-center flex items-center md:rounded-tr-none md:w-1/2 lg:w-1/4">
        <div>
          <p class="font-bold">FOTO &
            VIDEO</p>
          <p>Capturamos la esencia de tu marca con producciones visuales de alta calidad, ideales para redes sociales,
            publicidad y eventos.
          </p>
        </div>
      </div>
      <div
        class="w-full text-center p-3 text-white h-full bg-baconBlue rounded-t-2xl justify-center flex items-center md:w-1/2 lg:w-1/4">
        <div>
          <p class="font-bold">STANDS</p>
          <p>Diseñamos y construimos stands creativos y funcionales que destacan en ferias, exposiciones y eventos,
            asegurando una presencia impactante.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
