<div class="h-[80vh] w-full bg-white">
  <div class="flex w-full h-full p-3 lg:p-12 flex-col">
    <div class="h-3/5 w-full flex items-center">
      <div class="w-full md:w-3/4 flex flex-col p-3 md:p-20 text-baconBlue gap-4 text-sm md:text-lg text-justify"
           appScrollTrigger (visible)="visible = true">
        <p class="text-2xl md:text-5xl font-bold">{{ 'services.title' | transloco }}</p>
        <p>{{ 'services.subTitle' | transloco }}</p>
        <p>{{ 'services.body' | transloco }}</p>
      </div>
      <div [@enter]="visible" class="hidden md:block grow h-full">
        <img src="assets/images/christmas-tree.png" alt="christmas-tree" class="w-full h-full">
      </div>
    </div>
    <div id="services-card-container" class="w-full h-2/5 p-1 overflow-auto">
      <div class="w-[400%] md:w-[200%] bg-baconYellow rounded-t-2xl lg:w-full h-full flex">
        <div class="w-full h-full flex flex-col justify-center text-center text-sm lg:text-base p-1 md:p-3 text-baconBlue">
          <p class="font-bold">{{ 'services.cards.card1.title'  | transloco}}</p>
          {{ 'services.cards.card1.body'  | transloco}}
        </div>
        <div class="w-full flex flex-col justify-center h-full text-center text-sm lg:text-base p-1 md:p-3 text-white bg-baconBlue rounded-tl-2xl">
          <p class="font-bold">{{ 'services.cards.card2.title'  | transloco}}</p>
          {{ 'services.cards.card2.body'  | transloco}}
        </div>
        <div class="w-full flex flex-col justify-center h-full text-center text-sm lg:text-base p-1 md:p-3 text-baconBlue">
          <p class="font-bold">{{ 'services.cards.card3.title'  | transloco}}</p>
          {{ 'services.cards.card3.body'  | transloco}}
        </div>
        <div class="w-full flex flex-col justify-center h-full text-center text-sm lg:text-base p-1 md:p-3 text-white bg-baconBlue rounded-t-2xl">
          <p class="font-bold">{{ 'services.cards.card4.title'  | transloco}}</p>
          {{ 'services.cards.card4.body'  | transloco}}
        </div>
        <!--        <div-->
        <!--          class="w-full text-center p-1 md:p-3 text-baconBlue h-full bg-baconYellow rounded-t-2xl justify-center flex items-center md:rounded-tr-none md:w-1/2 lg:w-1/4">-->
        <!--          <div>-->
        <!--            <p class="font-bold">{{ 'services.cards.card1.title' | transloco }}</p>-->
        <!--            <p>{{'services.cards.card1.body' | transloco}}</p>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div-->
        <!--          class="w-full text-center p-3 text-white h-full bg-baconBlue rounded-t-2xl justify-center flex items-center md:rounded-tr-none md:w-1/2 lg:w-1/4">-->
        <!--          <div>-->
        <!--            <p class="font-bold">{{ 'services.cards.card2.title' | transloco }}</p>-->
        <!--            <p> {{ 'services.cards.card2.body' | transloco }}</p>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div-->
        <!--          class="w-full text-center p-3 text-baconBlue h-full bg-baconYellow rounded-t-2xl justify-center flex items-center md:rounded-tr-none md:w-1/2 lg:w-1/4">-->
        <!--          <div>-->
        <!--            <p class="font-bold">{{ 'services.cards.card3.title' | transloco }}</p>-->
        <!--            <p>{{ 'services.cards.card3.body' | transloco }}-->
        <!--            </p>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div-->
        <!--          class="w-full text-center p-3 text-white h-full bg-baconBlue rounded-t-2xl justify-center flex items-center md:w-1/2 lg:w-1/4">-->
        <!--          <div>-->
        <!--            <p class="font-bold">{{ 'services.cards.card4.title' | transloco }}</p>-->
        <!--            <p>{{ 'services.cards.card4.body' | transloco }}-->
        <!--            </p>-->
        <!--          </div>-->
        <!--        </div>-->

      </div>
    </div>

  </div>
</div>
