<div class="h-[80vh] w-full bg-baconBlue">
  <div class="h-full w-full flex flex-col-reverse md:flex-row p-5">
    <div class="h-full w-full md:w-1/2 rounded-2xl">
      <img src="/assets/images/placeholder.png" class="h-full w-full object-contain" alt="">
    </div>
    <div
      class="h-full w-full md:w-1/2 justify-center content-center text-white p-20 text-xl flex flex-col gap-5">
      <p class="font-bold"> Historia de la empresa
      </p>
      <p> Somos una empresa joven, formada por apasionados profesionales cuya experiencia en diversas organizaciones
        impulsa nuestro crecimiento.
      </p>
      <p>Operamos en Chihuahua, Sonora, Baja California Norte y Sur, conectando a clientes a nivel nacional e
        internacional.
        Con un taller propio y personal especializado, hacemos realidad cualquier proyecto.</p>
    </div>
  </div>
</div>
