<div class="relative flex flex-col items-center justify-center bg-baconBlue h-screen w-full">
  <h1 class="mb-8 text-center text-5xl font-bold text-yellow-400 md:text-6xl lg:text-7xl">
    BACON DESIGN STUDIO
  </h1>
  <p class="max-w-3xl text-center text-lg text-white md:text-xl">
    Somos una agencia que ofrece un servicio completo, con un equipo
    creativo enfocado en conectar tu empresa con el cliente ideal y obtener
    resultados óptimos.
  </p>
  <button class="text-white text-6xl mt-3 h-24 w-24 rounded-full bg-yellow-400">+</button>
</div>
<app-about-us></app-about-us>
<app-services></app-services>
